<a href="https://colab.research.google.com/github/fransiska106/Pemrograman-Berbasis-Mobile-/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fransiska Febriyanti Manehat_225410027

In [1]:
!pip install pyspark pandas

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("ContohSpark").getOrCreate()

In [4]:
data = [
    ('Andi', 30, 'L', 5000, 1),
    ('Budi', 25, 'L', 4000, 2),
    ('Citra', 28, 'P', 4500, 1)
]

columns = ['Nama', 'Usia', 'JenisKelamin', 'Gaji', 'DeptId']

df = spark.createDataFrame(data, schema=columns)
df.createOrReplaceTempView('karyawan')

In [5]:
spark.sql('SELECT * FROM karyawan').show()

+-----+----+------------+----+------+
| Nama|Usia|JenisKelamin|Gaji|DeptId|
+-----+----+------------+----+------+
| Andi|  30|           L|5000|     1|
| Budi|  25|           L|4000|     2|
|Citra|  28|           P|4500|     1|
+-----+----+------------+----+------+

In [6]:
spark.sql('SELECT Nama, Usia FROM karyawan WHERE Gaji > 4000').show()

+-----+----+
| Nama|Usia|
+-----+----+
| Andi|  30|
|Citra|  28|
+-----+----+

In [7]:
spark.sql('SELECT AVG(Gaji) AS RataRataGaji FROM karyawan').show()

+------------+
|RataRataGaji|
+------------+
|      4500.0|
+------------+

In [8]:
spark.sql('''
    SELECT JenisKelamin, SUM(Gaji) AS TotalGaji, Usia
    FROM karyawan
    GROUP BY JenisKelamin, Usia
    ORDER BY Usia
''').show()

+------------+---------+----+
|JenisKelamin|TotalGaji|Usia|
+------------+---------+----+
|           L|     4000|  25|
|           P|     4500|  28|
|           L|     5000|  30|
+------------+---------+----+